--- 
    interface Project {
        id: number;
        title: string;
        description: string;
        image_url: string;
        url: string;
        technologies: string[]; 
    }

    const WORK_URL = "https://mi-backend.julian-jcpa.workers.dev/projects";
    let projects: Project[] = [];

    try {
      const res = await fetch(WORK_URL, {
        method: "GET",
        headers: { "Content-Type": "application/json" },
      });
      if (!res.ok) throw new Error(await res.text());
        projects = await res.json();
        console.log('Projectos cargados con exito', projects);
      
    } catch (err) {
      console.error("Error al cargar los projectos:", err);
    } 
---

<section class="projects-section mt-20 max-w-2xl mx-auto flex flex-col text-center scroll-mt-20 gap-10" id="projects">
    <div class="section-header px-4 md:px-0 py-5 max-w-2xl mx-auto inset-0 text-center bt-10 mb-10">
        <h3 class="section-subtitle !text-white/60 !text-[1rem] !font-medium">From Colombia / Building for anywhere</h3>
        <h2 class="section-title !text-3xl !font-bold !text-white/90 mb-2">Frontend development
        & strategic ui/ux design</h2>
        <p class="section-description px-0 md:px-20">A selection of my recent work, showcasing a blend of frontend development and strategic UI/UX design to create engaging digital experiences.</p>
    </div>

    <div class="projects relative flex flex-col gap-5">
        <div class="absolute rounded-lg h-full w-[6px] left-0 overflow-hidden">
        <div id="shooting-star2" 
             class="absolute left-[2px] w-[4px] h-60 rounded-full shadow-lg"
             style="background: linear-gradient(to top, #ffffff,#6b6b6b , #0F0F0F);">
        </div>
    </div>
         {projects.length > 0 ? (
                projects.map((project) => (
                <div class="project-card flex flex-col items-start  gap-[0.2rem] px-8 py-5 w-full text-left">
                    <h5 class="text-base relative !leading-4 !text-white/60 !font-medium">0{project.id} / Project</h5>
                    <h4 class="project-title !text-[2rem] !text-white/90 !font-semibold">{project.title}</h4>
                    <p class="project-description">{project.description}</p>
                    <div class="project-technologies flex flex-wrap gap-2 mt-2">
                        {project.technologies.map((tech) => (
                            <span class="tech-badge bg-white/10 hover:bg-white hover:text-black text-white/70 px-3 py-[2px] rounded-full text-sm transition-all duration-300">{tech}</span>
                        ))}
                    </div>
                    <div class="image-container relative group w-[450px] max-w-full my-5 mx-auto h-auto rounded-lg overflow-hidden">  
                        <div class="overlay absolute inset-0 bg-black/50 backdrop-blur-[2px] opacity-0 group-hover:opacity-100 active:opacity-100 transition-opacity duration-300 z-10 flex flex-col items-center justify-center">
                            <a href={project.url} class="contact-link bg-white px-4 py-[5px] rounded-lg hover-anim" target="_blank" rel="noopener noreferrer">View project</a>    
                        </div>
                        <img src={project.image_url} alt={project.title} class="project-image w-full h-full z-0 transform group-hover:scale-105 transition-transform duration-300" loading="lazy"/>
                    </div>
                </div>
                ))
        ) : (
            <p class="text-white/70 text-center col-span-full py-10">
             No hay proyectos aún.
            </p>
        )}
    </div>    
</section>

<style>
    .image-container.active .overlay {
    opacity: 1;
}

</style>

<script>
const starsecond = document.getElementById('shooting-star2');
const projects = document.querySelector('.projects');

window.addEventListener('scroll', () => {
    const scrollTop = window.scrollY;
    const viewportHeight = window.innerHeight;
    const timelineTop = projects.offsetTop;
    const timelineHeight = projects.offsetHeight;

    let progress = (scrollTop + viewportHeight/2 - timelineTop) / timelineHeight;

    progress = Math.min(Math.max(progress, -0.2), 1.2);

    const topPos = progress * timelineHeight - starsecond.offsetHeight;
    starsecond.style.top = `${topPos}px`;
});

document.querySelectorAll('.image-container').forEach((card) => {
  card.addEventListener('click', () => {
    card.classList.toggle('active');
  });
});
</script>

    
